<%- include('partials/header') %>

<div class="container section_principal" >
	<form id="formNewBlock" action="/home" method="POST" enctype='multipart/form-data'>
		<div class="blockInNewBlock">
			<input type="text" id="title" name="title" placeholder="Title" required>
		</div>
		<div class="blockInNewBlock">
			<textarea type="text" id="text" name="text" placeholder="Déscriptif" required rows="10"></textarea>
		</div>
		<div class="blockInNewBlock">
			<input type="file" id="file" class="fileInput" name="myfile" placeholder="Image" required>
		</div>
		<div class="submitNewBlock">
			<input type="submit" id="submit" value="Valider">
		</div>
	</form>
</div>

<script>
	let sub = document.getElementById('submit');
	let sec = document.getElementsByClassName('section_principal');
	let load = document.getElementById('loader');


	sub.addEventListener('click', e => {
		for(let i=0; i<section.length; i++){
			sec[i].style.display='none';
		}
		load.style.display='block';
	});
</script>
<%- include('partials/footer') %>
